body {
    background-color: #f8f9fa; /* Gris claro de fondo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    margin-bottom: 30px;
}

.card {
    transition: transform 0.3s;
    border: none;
    border-radius: 15px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

.rounded-circle {
    border: 5px solid white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}